{% include "stocks/menu.html" %} 
{% include "stocks/messages.html" %} 
{% load bootstrap3 %}
{% load render_table from django_tables2 %}

<!doctype html>
<html>
  <head>
    <title>List of persons</title>
  </head>
  <body>

{% if pdts %}
<form action="" method="get">
  {{ filter.form.as_p }}
  <input type="submit" />
</form>

<table>
  <tr>
    <th class="orderable"><a href="?sort=name">Nom</a></th>
    <th class="orderable"><a href="?sort=category">Catégorie</a></th>
    <th class="orderable"><a href="?sort=provider">Fournisseur</a></th>
    <th class="orderable"><a href="?sort=price">Prix</a></th>
    <th class="orderable"><a href="?sort=pwyw">Prix Libre</a></th>
    <th class="orderable"><a href="?sort=vrac">Vrac</a></th>
    <th class="orderable"><a href="?sort=stock">Stock</a></th>
    <th></th>
  </tr>
{% for p in filter.qs %}
  <tr>
    <td>{{ p.name }}</td>
    <td>{{ p.category }}</td>
    <td>{{ p.provider }}</td>
    <td>{{ p.price }}</td>
    <td>{{ p.pwyw }}</td>
    <td>{{ p.vrac }}</td>
    <td>{{ p.stock|floatformat:"-2" }}</td>
    <td><a href="{% url 'stocks:detail_produit' p.pk %}">Détails</a></td>
  </tr>
{% endfor %}
</table> 
{% else %}
  Pas de produits.
{% endif %}


{% render_table table 'django_tables2/bootstrap.html' %}

  </body>
</html>
