django~=5.2  # LTS version
django-bootstrap4~=25.3
crispy-bootstrap4~=2025.6
django-crispy-forms~=2.5
django-extra-views~=0.16
django-easy-select2>=1.5.8,<1.5.9  # careful, compatibility drop happen on patch-level :-(
openpyxl~=3.1
