[Unit]
Description=compteur_gase gunicorn daemon
After=network.target

[Service]
PIDFile=/run/gunicorn/compteur_gase-pid
User=compteur_gase
Group=www-data
WorkingDirectory=/opt/compteur_gase
ExecStart=/opt/compteur_gase/venv/bin/gunicorn -c /opt/compteur_gase/gunicorn_config.py compteur.wsgi
ExecReload=/bin/kill -s HUP $MAINPID
ExecStop=/bin/kill -s TERM $MAINPID
PrivateTmp=true

[Install]
WantedBy=multi-user.target
