DEBUG = False

SECRET_KEY = 'YNH_APP_SECRET_KEY'

ALLOWED_HOSTS = ['YNH_APP_ARG_DOMAIN']

STATIC_ROOT = 'YNH_APP_STATIC_ROOT'

ADMINS = [('Admin du Compteur', 'YNH_APP_ARG_EMAIL')]

PATH = 'YNH_APP_ARG_PATH'

STATIC_URL = '/YNH_APP_ARG_PATHstatic/'
