DEBUG = False

SECRET_KEY = '__SECRET__'

ALLOWED_HOSTS = ['__DOMAIN__']

STATIC_ROOT = '__FINALPATH__/static'

ADMINS = [('Admin du Compteur', '__ADMIN_MAIL__')]

PATH = '__CDGPATH__'

STATIC_URL = '/__CDGPATH__static/'

YUNOHOST_APP_ID = '__APP__'

YNH_INTEGRATION_ENABLED = True
