
.narrow-content {
    max-width: 30rem;
    margin-left: auto;
    margin-right: auto;
}

.medium-content {
    max-width: 55rem;
    margin-left: auto;
    margin-right: auto;
}

.form-buttons {
    display: flex;
    text-align: right;
}

.form-buttons input, .form-buttons a {
    flex: 1;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 33%;
}

nav {
    background-color: #c0fcdf;
    font-weight: bold;
}

.nav-tabs{
  display:inline-flex;
}

.nav-item
{
	border-bottom: 2px solid var(--color2) !important;
}
.nav-item.nav-link {
  color: var(--color1);
    padding-left: 10px;
    padding-right: 10px;
}
ul.nav a:hover {
  color: var(--color2) !important;
  border-color: var(--color2) !important;
  border-width: 2px !important;
}

.btn {
  border-width: 0px !important;
}
.btn-info, .btn-info:active, .btn-info:visited {
    background-color: var(--color3) !important;
}
.btn-info:hover {
    background-color: var(--color2) !important;
}

.btn-light, .btn-light:active, .btn-light:visited {
    background-color: var(--color1) !important;
}
.btn-light:hover {
    background-color: var(--color2) !important;
}

.btn-secondary, .btn-secondary:active, .btn-secondary:visited {
    background-color: var(--color1) !important;
}
.btn-secondary:hover {
    background-color: var(--color2) !important;
}
.form-control {
  display: block;
  width: 100%;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid var(--color2);
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.table-striped>tbody>tr:nth-child(odd)>td,
.table-striped>tbody>tr:nth-child(odd)>th {
   background-color: var(--color-array-odd);
}

.table-striped>tbody>tr:nth-child(even)>td,
.table-striped>tbody>tr:nth-child(even)>th {
   background-color: var(--color-array-even);
}

.message.success:before {
    content: "✔ ";
}

.message.error:before {
    content: "✘ ";
}

.text-right.filter{
  margin-right: 15px;
}

#vue-table {
  margin: 2em 0;
  
  a {
    font-weight: bold;
    text-decoration: none;  
    
    &.active {
      font-weight: bold;
      color: black;
      text-decoration: underline;
    }
  }
}
