:root {
    --chartColor1: #00ccff;
    --chartColor2: #ff6384;
    --chartColor3: #6eff92;
    --chartColor4: #5271fa;
    --chartColorText: #999999;
}

.narrow-content {
    max-width: 30rem;
    margin-left: auto;
    margin-right: auto;
}

.medium-content {
    max-width: 55rem;
    margin-left: auto;
    margin-right: auto;
}

.form-buttons {
    display: flex;
    text-align: right;
}

.form-buttons input, .form-buttons a {
    flex: 1;
}

.index-part {
  display: block;
  margin-top: 1em;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  justify-content: center !important;
}

.index-logo {
  width : 30%;
}

.description {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1rem;
  width: 100%;
}

.description-list {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.gestion-btn {
  display: block;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.gestion-btn > a {
  display: inline-block;
  width: auto;
  margin-top: 0rem;
  margin-bottom: 0rem;
}

nav {
    background-color: #c0fcdf;
    font-weight: bold;
}

.nav.nav-tabs{
    display: inline-flex;
    border: 2px solid #c0fcdf !important;
}

.nav-item
{
    border-bottom: 2px solid #c0fcdf !important;
}

.nav-item.nav-link {
    color: #6d7985;
    padding-left: 5px;
    padding-right: 5px;
}

ul.nav a:hover {
  color: #495057; !important;
  border-color: #c0fcdf !important;
  border-width: -2px !important;
}

.nav-item
{
 border-bottom: 2px solid #c0fcdf !important;
}

.message.success:before {
    content: "✔ ";
}

.message.error:before {
    content: "✘ ";
}

.text-right.filter{
  margin-right: 15px;
}

#vue-table {
  margin: 2em 0;

  a {
    font-weight: bold;
    text-decoration: none;

    &.active {
      font-weight: bold;
      color: black;
      text-decoration: underline;
    }
  }
}

hr.gestion-hr {
    border: none;
    height: 2px;
    background-color: #dedede; /* Modern Browsers */
}

