{% extends 'base/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% load my_tags %}

{% block content %}

<div class="row" id="household">
  <h2>{{ household }} - <small>Solde : {{ household.account }} € </small></h2>
</div>
<div class="row">
  <button type="button" class="show-history btn btn-info">
    Historique de vos achats
  </button>
</div>
<div id="vue-table" class="row"
     @keyup="onKeyUp"
     @keyup.up="moveSelectionUp"
     @keyup.down="moveSelectionDown"
>
  <div class="col col-6">
    <div class="row">
      <div class="col">
        <!-- pas dans un form pour ne pas que ça recharge la page quand on fait Entrée -->
        <input autofocus type="text" v-model="search" class="form-control search"  placeholder="Tapez pour filtrer ..."
               @keydown.enter="moveSelectionDown"
        >
      </div>
      <div class="col text-right">
          {% if use_categories %}
              <div class="dropdown">
                  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                          data-toggle="dropdown">
                      [[ category ]]
                  </button>
                  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                      <button class="dropdown-item" @click="category='Toutes catégories'">Toutes catégories
                      </button>
                      {% for cat in cats %}
                          <button class="dropdown-item"
                                  @click="category='{{ cat | escapejs }}'">{{ cat.name | escape }}</button>
                      {% endfor %}
                  </div>
              </div>
          {% endif %}
      </div>
    </div>
    <table class="table table-striped" id="catalog">
      <thead>
        <tr>
          <th>Nom</th>
          <th>Prix unitaire</th>
          <th>Quantité</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="(pdt, id) in pdts" v-show="matchFilter(pdt)">
          <td>[[ pdt.name ]]</td>
          <td>[[ pdt.pwyw ? "prix libre !" : pdt.price + " €" ]]</td>
          <td>
            <div class="input-group">
              <input type="text" class="form-control"
                     :id="'input_pdt_' + id"
                     @keydown.enter="inBasket"
                     @input="forceNumericValue"
              >
              <div class="input-group-append">
                <span class="input-group-text"> [[ pdt.unit ]] </span>
              </div>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="text-right list-overlay-actions">
      <button class="btn btn-info" @click="inBasket">Dans panier ⇒</button>
    </div>
  </div>

  <div class="col col-6">
    <form action="" @submit="validateForm" method="post">
      {% csrf_token %}
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Nom</th>
            <th>Quantité</th>
            <th>Prix</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="(x, id) in basket">
            <td>[[ pdts[id].name ]]</td>
            <td>[[ x.qtity ]] [[ pdts[id].unit ]]</td>
            <td>[[ _.round(x.price, 2) ]] €</td>
            <td><a @click="removeBasket(id)">🗑</a></td>
            <input type="hidden" :value="x.qtity" :name="'basket_qtity_' + id" :id="'basket_qtity_' + id">
            <input type="hidden" :value="x.price" :name="'basket_price_' + id" :id="'basket_price_' + id">
          </tr>
        </tbody>
      </table>
      <div class="row">
        <div class="col">
          <strong>Montant total : [[ _.round(totalAmount(), 2) ]] €</strong>
        </div>
        <div class="col text-right">
          <input class="btn btn-info" type="submit" value="Payer" :disabled="isSubmiting">
        </div>
      </div>
    </form>
  </div>
</div>

<script src="{% static "base/common.js" %}"></script>
<script>

 {% if alerte_balance %}
 $(window).on('load',function(){
   bootbox.alert('<p>Votre solde est inférieur a {{ alerte_balance_amount }} €.</p>')
 });
 {% endif %}

 var history_content =`
    <ul>
      {% for o in history %}
      <div style="margin-bottom:0.8em">
        <li> Le {{ o.date | date:"D d M Y - H \h i" }} :
          <ul>
            {% for p in o.details %}
            <li> {{ p.product }} : {{ p | print_neg_quantity_op }} ({{ p.price | neg | round2 }} €)</li>
            {% empty %}
            <li>Achat vide</li>
            {% endfor %}
          </ul>
        </li>
        Total : <b> {{ o.total }} </b></br>
      </div>
      {% empty %}
      <li>Pas d'achats précédents</li>
      {% endfor %}
    </ul>`;

 $(document).on("click", ".show-history", function(e) {
   bootbox.dialog({
     title: "Historique de vos 10 derniers achats",
     onEscape: true,
     message: history_content,
     buttons: {
       ok: {
         label: "Fermer",
         className: 'btn-secondary'
       },
       {% if use_exports %}
       noclose: {
         label: "Exporter l'historique",
         className: 'btn-info',
         callback: function(){
           downloadHTMLFile(history_content, "Ticket de caisse", 'HistoriqueAchats_{{ household }}.html')
         }
       },
       {% endif %}
     }
   })
 });

 $('nav a').click(function(event){
   if ( ! confirm('Voulez-vous vraiment abandonner vos achats ? (Vous n\'avez pas payé)')) {
     event.preventDefault();
   }
 })

 new Vue({
   delimiters: ['[[', ']]'],
   el: '#vue-table',
   data: {
     search: '',
     category: 'Toutes catégories',
     pdts: {{ pdts | safe }},
     basket: {},
     isSubmiting: false,
   },

   methods: {
     matchFilter(product) {
       var cat_ok = (this.category == 'Toutes catégories') || (product.category == this.category);
       var filter_ok = myContains(product.name, this.search);
       return cat_ok && filter_ok;
     },
     filter: function () {
       return _.pickBy(this.pdts, this.matchFilter)
     },
     inBasket: function () {
       var filtered = this.filter();
       for (var id in filtered) {
         var input = document.getElementById("input_pdt_" + id);
         if (input.value) {
	       var pdt = this.pdts[id];
           var value = Number(_.replace(input.value, ",", "."));
           if (value == 0) {
             input.value = '';
           } else {
             if (Number.isFinite(value)) {
               if (value < 0) {
                 alert("Vous avez rentré une quantité négative. Cela peut être pratique pour rattraper une erreur dans un achat précédent. Mais si vous vous êtes trompé, supprimez la référence de votre panier.");
               }
               if(!pdt.vrac && !Number.isInteger(value)) {
                 alert("Veuillez utiliser un nombre entier pour : " + this.pdts[id].name);
               } else {
                 var before = (this.basket[id]) ? (this.basket[id]) : {qtity: 0, price: 0};
		         var price;
		         if (pdt.pwyw) {
		           do {
		             price = prompt('Le produit ' + pdt.name + ' est à prix libre.\nCombien voulez vous payer pour la quantité que vous avez prise ? ('
				                  + value + ' ' + pdt.unit + ')');
		             if (price === null) { return; }
		             price = parseFloat(_.replace(price, ",", "."));
		           } while (isNaN(price));
		         } else {
		           price = pdt.price * value;
		         };
                 Vue.set(this.basket, id, {qtity: before.qtity + value, price: before.price + price});
                 input.value = '';
               }
             }
             else {
               alert("Veuillez entrer un nombre pour : " + pdt.name)
             }
           }
         }
       }
     },

     removeBasket: function(id) {
       Vue.delete(this.basket, id)
     },

     totalAmount: function () {
       var s = 0;
       for (var id in this.basket) {
         s += this.basket[id].price;
       }
       return s
     },

     validateForm: function(e) {
       let prevent = false;

       if (this.isSubmiting) {
           e.preventDefault();
           return;
       }
       this.isSubmiting = true;
       e.target.setAttribute("disabled", "");
       if (Object.keys(this.basket).length == 0) {
         alert ("Votre panier est vide");
         prevent = true;
       }
       if (! {{ on_the_flight | yesno:"true,false" }}){
         var account_diff = {{ max_amount | comma_to_dot }} - this.totalAmount();
         if (account_diff < 0) {
           if ( {{ min_account_allow | yesno:"true,false" }}) {
             if (! confirm("Vous n'avez pas assez de sous dans votre cagnotte ! Il manque " + -account_diff.toFixed(2) + " €. Voulez-vous quand même effectuer l'achat ?") ) {
               prevent = true;
             }
           }
           else{
             alert ("Vous n'avez pas assez de sous dans votre cagnotte ! Il manque " + -account_diff.toFixed(2) + " €.");
             prevent = true;
           }
         }
         else
           {
             var balance_end = {{ balance_amount | comma_to_dot }} - this.totalAmount();
             if (balance_end < 0) {
               if (! confirm("Cette cagnotte sera en négatif de " + -balance_end.toFixed(2) + " € à la fin la transaction ! Voulez-vous quand même effectuer l'achat ?")) {
                 prevent = true;
               }
             }
           }
       }
       else {
         if (! confirm("Cette cagnotte est configurée pour que le client paye la somme exacte après un achat sans approvisionner cagnotte. Voulez-vous quand même effectuer l'achat ? Si vous acceptez, vous devez encaisser la somme du ticket de caisse qui est de " + this.totalAmount().toFixed(2) + " €")) {
           prevent = true
         }
       }
       // Prevent double-click https://github.com/Jojo144/compteur_du_gase/issues/87
       if (prevent) {
           e.preventDefault();
           this.isSubmiting = false;
       }
     },
     onKeyUp(event){
       // cannot match directly a "/" with attribute directive
       if (event.key === '/') {
         event.preventDefault();
         this.jumpToSearch();
       }
     },
     jumpToSearch(){
       document.querySelector('input.search').focus();
       this.search = '';
     },
     moveSelectionUp(e){
       e.preventDefault();
       let selected = this.getSelectedRow();
       if (! selected) {
         document.querySelector('#catalog tbody tr input').focus()
       } else if (selected.previousElementSibling) {
         selected.previousElementSibling.querySelector('input').focus();

       }
     },
     moveSelectionDown(e){
       e.preventDefault();
       let selected = this.getSelectedRow();
       if (! selected) {
         document.querySelector('#catalog tbody tr input').focus();
       } else if (selected.nextElementSibling){
         selected.nextElementSibling.querySelector('input').focus();
       }
     },
     getSelectedRow(){
       return document.querySelector('#catalog tbody tr:focus-within');
     },
     forceNumericValue(e){
       e.target.value = e.target.value.replace(/[^0-9,.\-]/, '');
     },
   },
   mounted() {
     // start with focus on search
     document.querySelector('input[autofocus]').focus();
   },
 })
</script>

<p class="text-small footer-tip">
  Pssst ! Des raccourcis clavier existent ; essaye <kbd>/</kbd> <kbd>Entrée</kbd> <kbd>↓</kbd> <kbd>↑</kbd> des fois que…
</p>

{% endblock content %}
