{% extends 'base/base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<div class="narrow-content">
    <h4>Approvisionner les stocks à la réception d'une commande</h4>
    <h5>{{ provider }}</h5>
    Entrez les quantités mises en rayon.
    Seuls les produits "visibles" sont affichés ici.
    <br>
    <br>
    <form action="" method="post">
        {% csrf_token %}
        {{ form | crispy }}
        <div class="form-buttons">
            <a class="btn btn-light" href="{% url 'base:pre_appro' %}">Annuler</a> &nbsp;
            <input class="btn btn-info" type="submit" value="Approvisionner">
        </div>
    </form>
</div>
{% endblock content %}
