{% load staticfiles %}

<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <script src="{% static 'base/lodash.js' %}"></script>
  <script src="{% static 'base/vue.js' %}"></script>
  <link rel="stylesheet" href="{% static 'base/bootstrap.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'base/base.css' %}">
    <title>Le compteur du GASE</title>
</head>
<body>
<script>
  function removeAccents(str) {
      return str.normalize('NFD').replace(/[\u0300-\u036f]/g, "")
  }
  
  function myContains(str, key) {
      return removeAccents(String(str).toLowerCase()).includes(removeAccents(String(key).toLowerCase()))
  }
</script>
<script src="{% static 'base/jquery-3.3.1.js' %}"></script>
<script src="{% static 'base/bootstrap.bundle.js' %}"></script>

<div class="container" {#style="background-color: #8987b8;"#}>

    {% block navbar %}
    <div class="row justify-content-center">
      <nav class="navbar navbar-expand-lg navbar-light justify-content-center" style="background-color: #81f7be;">
	<div class="navbar-nav">
	  <a class="nav-item nav-link" href="{% url 'base:index' %}">Accueil</a>
	  <a class="nav-link" href="{% url 'base:pre_achats' %}">Achats</a>
	  <a class="nav-link" href="{% url 'base:pre_compte' %}">Mon compte</a>
	  <a class="nav-link" href="{% url 'base:products' %}">Stock et Produits</a>
	  <a class="nav-link" href="{% url 'base:pre_appro' %}">Réception de commande</a>
	  <a class="nav-link" href="{% url 'base:members' %}">Membres</a>
	  <a class="nav-link" href="{% url 'base:gestion' %}">☭ Gestion</a>
	</div>
      </nav>
    </div>
    {% endblock %}

    <div class="row justify-content-center">
      {% for message in messages %}
      <div class="message {{ message.tags }}">{{ message }}</div>
      {% endfor %}
    </div>

    <br>
    <div class="row justify-content-center">
      <div class ="col">
	{% block content %}{% endblock %}
      </div>
    </div>

</div>
</body>
</html>
