{% extends "base/base.html" %}
{% load crispy_forms_tags %}

{% block content %}
<div class="row justify-content-center">
  <h5>Foyer :</h5> &nbsp;{{ household }}
</div>

<div class="row justify-content-center">
  <h5>Solde actuel :</h5> &nbsp;{{ household.account }} €
</div>

<br>
<div class="row justify-content-center">
  <form action="{% url 'base:compte' household.pk %}" method="post">
    {% csrf_token %}
    {{ form | crispy }}
    <div class="text-right">
      <input class="btn btn-info" type="submit" value="Approvisionner">
      <a class="btn btn-light" href="{% url 'base:index' %}">Annuler</a>
    </div>
  </form>
</div>

<br>
<br>
<div class="row justify-content-center">
  <h3>♥</h3>&nbsp;&nbsp; Merci d'approvisionner votre compte &nbsp;<strong>après</strong>&nbsp; avoir réalisé le virement (ou alors de ne vraiment pas oublier !).
</div>


<br>
<br>
<div class="row justify-content-center">
  <h5>Historique des 5 derniers virements :</h5>
</div>
<div class="row justify-content-center">
  {% for o in history %}
  {{ o.date | date:"D d M Y - H \h i" }} : {{ o.amount }} €<br>
  {% endfor %}
</div>

{% endblock content %}
