<div id="vue-table">

    <form id="filter">
        <input type="text" v-model="search" class="form-control"/>
    </form>

    <table class="table table-striped">
        <thead>
        <tr>
            <th v-for="column in columns" @click="sortBy(column)" :class="{ active: sortKey == column }">
                [[ _.capitalize(column) ]]
                <!-- <span class="arrow" :class="sortKey > 0 ? 'asc' : 'dsc'"></span> -->
            </th>
        </tr>
        </thead>
        <tbody>
        <tr v-for="x in filter()">
            <td v-for="column in columns">
                [[ x[column] ]]
            </td>
        </tr>
        </tbody>
    </table>

</div>

<script>
  new Vue({
      delimiters: ['[[', ']]'],
      el: '#vue-table',
      data: {
      sortKey: 'name',
      search: '',
      sortWay: 'asc',
      columns: {{ columns | safe }},
      
      raw_data: {{ pdts | safe }}
      },

      computed: {
         orderedData: function () {
             /* extract sort key from row, depending on its type */
             function sortValue(row){
                 let val = row[this.sortKey]
                 if (! Number.isNaN(Number.parseFloat(val))) {
                     return Number.parseFloat(val);
                 } else if (_.isString(val)) {
                     return val.toLowerCase()
                 } else {
                     return val;
                 }

             };
             return _.orderBy(this.raw_data, sortValue.bind(this), this.sortWay);
         }
      },

      methods: {
         sortBy: function(sortKey) {
             if (this.sortKey === sortKey) {
                 this.sortWay = (this.sortWay === 'asc' ? 'desc' : 'asc');
             } else {
                 this.sortKey = sortKey;
             }
         },

         filter: function () {
             var filterKey = this.search.toLowerCase();
             var data = this.orderedData;
             data = data.filter(function (row) {
             return Object.keys(row).some(function (key) {
                 return String(row[key]).toLowerCase().indexOf(filterKey) > -1
             })
                 });
             return data
         }
      }
  })


</script>
