{% extends 'base/base.html' %}

{% block content %}
<h4>Interface d'administration</h4>
<a class="btn btn-info" href="/admin">Accès à l'interface d'administration</a>
<br> Cette interface permet de bidouiller tout ce que gère le logiciel, à utiliser avec précaution. En particulier on peut :
<ul>
<li>
Créer/modifier les catégories.
</li>
<li>
Créer/modifier les unités.
</li>
<li>
Supprimer un foyer/fournisseur/référence/catégorie. Une fois un objet supprimé on ne peut pas le retrouver, à utiliser avec modération donc. Attention si l'on supprime un fournisseur / une catégorie cela supprimera aussi tous les produits correspondants (le logiciel demande confirmation avant).
</li>
<li>
Régler le seuil en dessous duquel on ne peut plus faire d'achats (dans "Réglages divers").
</li>
<li>
Changer le texte de la page d'accueil (dans "Réglages divers").
</li>
</ul>


<h4>Fournisseurs</h4>
<a class="btn btn-info" href="{% url 'base:providers' %}">Liste des fournisseurs</a>
<br>
<br>

<h4>Inventaire</h4>
<a class="btn btn-info" href="{% url 'base:inventory' %}">Nouvel inventaire</a>
&nbsp;&nbsp;&nbsp;
<a class="btn btn-info" href="{% url 'base:ecarts' %}">Bilan des inventaires précédents</a>
<br>
<br>


<h4>Valeur du stock et des comptes</h4>
Valeur du stock total (références non visibles incluses) : {{ value_stock }} €
<br>
Somme des soldes des comptes : {{ value_accounts }} €
<br>
Donc il doit y avoir en banque : {{ diff_values }} €
(si toutes les factures ont été payées et que tous le adhérents ont bien fait leur virement)
{% endblock content %}
