{% extends 'base/base.html' %}

{% block content %}

Créer un compte :
<br>
- via admin
<br>
- d'abord foyer
<br>
- puis membres
<br>
<br>
<br>

Supprimer compte
<br>
<br>

Stats : cf dans onglet stocks
<br>
<br>


<a href="{% url 'base:providers' %}">Liste des fournisseurs</a>
<br>
<br>

<a href="{% url 'base:inventory' %}">Inventaire</a>
<br>
<br>

<a href="{% url 'base:ecarts' %}">Écarts</a>
<br>
<br>

Valeur du stock total (références non visibles incluses) : {{ value_stock }} €
<br>
Somme des soldes des comptes : {{ value_accounts }} €
<br>
Donc il doit y avoir en banque : {{ diff_values }} €
(si toutes les factures ont été payées et que tous le adhérents ont bien fait leur virement)
{% endblock content %}
