{% extends 'base/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% load my_tags %}

{% block content %}
<div class="medium-content">
<form action="" method="post">
    {% csrf_token %}
    {{ form | crispy }}

    <h4>Membres du foyer</h4>
    <table class="table table-striped">
        {{ members.management_form }}

        {% for form in members.forms %}
        {% if forloop.first %}
        <thead>
        <tr>
            <th>Nom</th>
            <th>Email</th>
            <th>Téléphone</th>
            <th>Ticket caisse</th>
            <th>Alertes stock</th>
            <th></th>
        </tr>
        </thead>
        {% endif %}
        <tr class="formset_row">
            {% for field in form.visible_fields %}
            <td>
                {# Include the hidden fields in the form #}
                {% if forloop.first %}
                {% for hidden in form.hidden_fields %}
                {{ hidden }}
                {% endfor %}
                {% endif %}
                {{ field.errors.as_ul }}
                {{ field }}
            </td>
            {% endfor %}
        </tr>
        {% endfor %}
    </table>
    Cochez la case "Ticket de caisse" pour recevoir un ticket de caisse par mail après chaque achat.
    <br>
    Cochez la case "Alertes stock" pour recevoir les alertes stocks des produits dont vous êtes le référent (utile
    seulement pour les référents produits).
    <br>
    <br>

    <div class="text-right">
        <input class="btn btn-info" type="submit" value="Enregistrer">
        <a class="btn btn-light" href="{% url 'base:members' %}">Annuler</a>
    </div>
</form>

<script src="{% static 'base/jquery.formset.js' %}"></script>
<script type="text/javascript">
 $('.formset_row').formset({
     addText: 'Ajouter un membre du foyer',
     deleteText: '🗑',
     prefix: 'has_household'
 });
</script>


{% if household %}
<!-- Stock et valeur du stock -->
<br><br>
<h5>Solde</h5>
<div>
  <p class="col-form-label">Solde de la cagnotte :</p>
  <input class="form-control" type="text" placeholder="{{ household.account | round2 }} €" readonly>

  <!-- todo : historique ici -->
</div>

<!-- Archivage -->
<br><br>
<h5>Archivage</h5>
<form id="archiveForm" action="{% url 'base:archive_household' household.pk %}" method="post">
  {% csrf_token %}
  <p>Pour "supprimer" ce foyer du logiciel, cliquez sur Archiver : </p>
  <input class="confirm-archive btn btn-outline-danger btn-sm" value="Archiver">
</form>
<br><br>
<script>
 $(document).on("click", ".confirm-archive", function(e) {
     bootbox.confirm({
	 locale: "fr",
	 message: '<p>Voulez-vous archiver ce foyer ?</p>\
                   <p>Il ne sera plus affiché dans le logiciel. Cette opération peut être annulée via l\'interface de gestion.</p>\
	           <small>Pour respecter la vie privée des gasier·ères, nous vous recommandons de régulièrement supprimer les foyers qui ne sont plus utilisés.\
                          Cela se fait via l\'interface de gestion.</small>',
	 callback: function(result){ if (result) { $("#archiveForm").submit(); } }
 })});
</script>
{% endif %}

</div>
{% endblock content %}
