{% extends "base/base.html" %}

{% load staticfiles %}

{% block content %}
<div class="index-part lead">
    {{ txt_home | safe }}
</div>

{% if activity_board %}
{% include "base/activity_board.html" %}
{% endif %}

{% if use_messages %}
<div class="index-part">
    {{ txt_message | safe }}
</div>
{% endif %}

{% if use_logo %}
<div class="index-part">
    <img src="{% static "base\logo.png" %}" alt=" " class="index-logo">
</div>
{% endif %}

<p class="index-part lead">
  {{ txt_home2 | linebreaksbr }}
</p>

{% endblock content %}
