{% extends 'base/base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<h4>Bienvenu dans l'inventaire !</h4>
<br>
Pour chaque produit pesé/compté, entrer la quantité correspondante puis cliquer sur "Mettre les stocks à jour". Il est possible de ne compléter que quelques produits si on fait un inventaire partiel (par exemple si l'on ne compte qu'un seul produit).
<br>
Ne pas oublier de bien tarer la balance et de faire attention aux unités. Bon courage !
<br>
<br>
<form class="narrow-content" action="" method="post">
    {% csrf_token %}
    {{ form | crispy }}
    <div class="form-buttons">
        <a class="btn btn-light" href="{% url 'base:gestion' %}">Annuler</a> &nbsp;
        <input class="btn btn-info" type="submit" value="Mettre les stocks à jour">
    </div>
</form>
{% endblock content %}
