{% extends "base/base.html" %}

{% block content %}
<h4>Liste détaillée des mails</h4>

<div id="vue-table">

    <div id="print-total"></div>
    </br>

    <a class="btn btn-info" href="{% url 'base:mails_send_all' %}">Envoyer les mails en attente</a>

    <a class="btn btn-secondary" href="{% url 'base:mails_del_send' %}">Supprimer les mails envoyés</a>

    <a class="btn btn-secondary" href="{% url 'base:mails_del_all' %}">Supprimer tous les mails</a>

    <br>
    <br>
    <table id="table" class="table table-striped">
        <thead>
        <tr>
            <th v-for="column in columns" @click="sortBy(column)" :class="{ active: sortKey == column }">
                [[ _.capitalize(column) ]]
                [[ sortKey == column ? (sortWay === 'asc' ? "⯅" : "⯆") : ""]]
            </th>
	    <th></th>
	    <th></th>
        </tr>
        </thead>
        <tbody>
        <tr v-for="x in filter()">
            <td v-for="column in columns">
                [[ x[column] ]]
            </td>
            <td><a :href="'mail_send/' + x.id">✉ (R)envoyer</a></td>
            <td><a :href="'mail_del/' + x.id">❌ Supprimer</a></td>
        </tr>
        </tbody>
    </table>

</div>

<script>
  var vue = new Vue({
      delimiters: ['[[', ']]'],
      el: '#vue-table',
      data: {
         sortKey: 'id',
         selected_year: '',
         selected_month: '',
         selected_day: '',
         search: '',
         sortWay: 'asc',
         total: 0,
         total_referent: 0,
         total_receipt: 0,
         columns: {{ columns | safe }},
         raw_data: {{ mails | safe }}
      },

      computed: {
         orderedData: function () {
             /* extract sort key from row, depending on its type */
             function sortValue(row){
                 let val = row[this.sortKey]
                 if (! Number.isNaN(Number.parseFloat(val))) {
                     return Number.parseFloat(val);
                 } else if (_.isString(val)) {
                     return val.toLowerCase()
                 } else {
                     return val;
                 }

             };
             return _.orderBy(this.raw_data, sortValue.bind(this), this.sortWay);
         }
      },

      methods: {
         sortBy: function(sortKey) {
             if (this.sortKey === sortKey) {
                 this.sortWay = (this.sortWay === 'asc' ? 'desc' : 'asc');
             } else {
                 this.sortKey = sortKey;
             }
         },

         filter: function () {
             var filterKey = this.search.toLowerCase();
             var data = this.orderedData;

             this.compute_total(data);

             document.getElementById("print-total").innerHTML = "Total des mails non envoyés : <b>" + this.total + "</b></br>";
             return data
         },

         compute_total: function(data){
             let data_ns = data.filter(function (row) {return row['envoyé ?'] == "✘"});

             this.total = data_ns.length;
         }
      }
  })

  vue.filter();


</script>
{% endblock %}
