{% extends "base/base.html" %}

{% block content %}
<h4>Liste détaillée des mails</h4>

<div id="vue-table">

    <div id="print-total"></div>
    </br>
    <form class="form-inline">
        <div class="text-right filter">
          <a class="btn btn-info" href="{% url 'base:mails_send_all' %}">Envoyer les mails en attente</a>
        </div>
        <div class="text-right filter">
          <a class="btn btn-info" href="{% url 'base:mails_send_referents' %}">Envoyer les mails aux référents en attente</a>
        </div>
        <div class="text-right filter">
          <a class="btn btn-info" href="{% url 'base:mails_send_receipts' %}">Envoyer les tickets de caisse en attente</a>
        </div>
    </form>
    </br>
    <form class="form-inline">
        <div class="text-right filter">
          <a class="btn btn-secondary" href="{% url 'base:mails_del_send' %}">Supprimer les mails envoyés</a>
        </div>
        <div class="text-right filter">
          <a class="btn btn-secondary" href="{% url 'base:mails_del_wait' %}">Supprimer les mails en attente</a>
        </div>
    </form>
    </br>
    <form class="form-inline">
        <div class="text-right filter">
          <a class="btn btn-secondary" href="{% url 'base:mails_del_referents' %}">Supprimer les mails aux référents (envoyé ou non)</a>
        </div>
        <div class="text-right filter">
          <a class="btn btn-secondary" href="{% url 'base:mails_del_receipts' %}">Supprimer les tickets de caisse (envoyé ou non)</a>
        </div>
    </form>
    </br>

    <table id="table" class="table table-striped">
        <thead>
        <tr>
            <th v-for="column in columns" @click="sortBy(column)" :class="{ active: sortKey == column }">
                [[ _.capitalize(column) ]]
                [[ sortKey == column ? (reverse ? "⯅" : "⯆") : ""]]
            </th>
        </tr>
        </thead>
        <tbody>
        <tr v-for="x in filter()">
            <td v-for="column in columns">
                [[ x[column] ]]
            </td>
            <td><a :href="'mail_send/' + x.id">✉ Envoyer</a></td>
            <td><a :href="'mail_del/' + x.id">❌ Supprimer</a></td>
        </tr>
        </tbody>
    </table>

</div>

<script>
  var vue = new Vue({
      delimiters: ['[[', ']]'],
      el: '#vue-table',
      data: {
      sortKey: 'id',
      selected_year: '',
      selected_month: '',
      selected_day: '',
      search: '',
      reverse: false,
      total: 0,
      total_referent: 0,
      total_receipt: 0,
      columns: {{ columns | safe }},
      
      raw_data: {{ mails | safe }}
      },

      computed: {
      orderedData: function () {
          var data = _.orderBy(this.raw_data, this.sortKey);
          if (this.reverse) {
          return _.reverse(data)
          } else {
          return data
          }
      }
      },

      methods: {
      sortBy: function(sortKey) {
          this.reverse = (this.sortKey == sortKey) ? ! this.reverse : false;
          this.sortKey = sortKey
      },

      filter: function () {
          var filterKey = this.search.toLowerCase();
          var data = this.orderedData;
          
          this.compute_total(data);

          document.getElementById("print-total").innerHTML = "Total des mails non envoyés : <b>" + this.total + "</b></br>" + 
                                                             "Total des mails Référent non envoyés : <b>" + this.total_referent + "</b></br>" +
                                                             "Total des mails Ticket de caisse non envoyés : <b>" + this.total_receipt + "</b>"; 
          
          return data
      },
      
      compute_total: function(data){
          let data_ns = data.filter(function (row) {return row['envoyé ?'] == "✘"});
          
          this.total = data_ns.length;
          this.total_referent = data_ns.filter(function (row) {return row['type'] == "Référent"}).length;
          this.total_receipt = data_ns.filter(function (row) {return row['type'] == "Ticket de caisse"}).length;
      }      
      }
  })
  
  vue.filter();
  

</script>
{% endblock %}
