{% extends 'base/base.html' %}

{% load static %}
{% load my_tags %}

{% block content %}
<h4>Nombres de foyers et de membres</h4>

<div class="medium-content">
<canvas id="myChart"></canvas>
<button id="removeData">Zoomer</button>
<button id="addData">Dézoomer</button>
</div>
</br>

<script src="{% static 'base/moment-with-locales.js' %}"></script>
<script src="{% static 'base/Chart.js' %}"></script>

<script>
 moment.locale('fr');
 var style = getComputedStyle(document.body);
 var chartCol1 = style.getPropertyValue('--chartColor1');
 var chartCol2 = style.getPropertyValue('--chartColor2');
 var chartColorText = style.getPropertyValue('--chartColorText');

 Chart.defaults.global.defaultFontSize = 16;
 Chart.defaults.global.defaultFontColor = chartColorText;

 var ctx = document.getElementById('myChart').getContext('2d');
 var init_date = new Date();
 init_date.setMonth(init_date.getMonth() - 6);
 var end_date = new Date();
 end_date.setMonth(end_date.getMonth() + 1);
 var chart = new Chart(ctx, {
     type: 'line',

     data: {
         datasets: [{
             label: 'Nombre de foyers',
             backgroundColor: chartCol1,
             borderColor: chartCol1,
         fill: false,
         lineTension: 0,
         data: [
         {% for d in households_data %}
         { x: new Date('{{d.date}}'), y: {{d.nb}}, label: '{{d.label}}' },
         {% endfor %}
         ]
         },
         {
             label: 'Nombre de membres',
             backgroundColor: chartCol2,
             borderColor: chartCol2,
         fill: false,
         lineTension: 0,
         data: [
         {% for d in members_data %}
         { x: new Date('{{d.date}}'), y: {{d.nb}}, label: '{{d.label}}' },
         {% endfor %}
         ]
         }],
     },

     options: {
     title: { text: 'Nombre de foyers et de membres' },
     scales: {
             xAxes: [{
                 type: 'time',
         time: {min: init_date, max: end_date}
             }],
         yAxes: [{
         scaleLabel: {
             display: true,
             labelString: 'Nombre'
         },
         ticks: {
            suggestedMin: 0
         }
         }]
     },
         tooltips: {
             callbacks: {
                 label: function(tooltipItem, data) {
             var o = data.datasets[tooltipItem.datasetIndex].data[tooltipItem.index];
                     return o.label + ". Nombre: " + o.y;
                 }
             }
     },
     }
 });

 document.getElementById('addData').addEventListener('click', function() {
     var date = new Date(chart.options.scales.xAxes[0].time.min);
     date.setMonth(date.getMonth() - 1);
     chart.options.scales.xAxes[0].time.min = date;
     chart.update();
 });

 document.getElementById('removeData').addEventListener('click', function() {
     var date = new Date(chart.options.scales.xAxes[0].time.min);
     date.setMonth(date.getMonth() + 1);
     chart.options.scales.xAxes[0].time.min = date;
     chart.update();
 });


</script>
{% endblock content %}
