{% extends 'base/base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<div class="medium-content">
    <h3>Achats</h3>
    <div class="description">
        Cette page sert à :
        <div class="description-list">
            <ul>
                <li>enregistrer l'achat d'un membre ;</li>
                <li>corriger ou annuler un achat déjà effectué ;</li>
                <li>obtenir les informations sur les derniers achats effectués (pour cela commencer un nouvel achat) ;</li>
                <li>obtenir les informations sur le solde restant d'un foyer (pour cela commencer un nouvel achat).</li>
            </ul>
        </div>
        Pour annuler un achat erronné, une façon de faire est de refaire le même achat en mettant une quantité
        négative à la place. Cela réapprovisionne le compte et le stock correctement.
    </div>
</div>

<form class="narrow-content" action="" method="post">
    {% csrf_token %}
    {{ form | crispy }}
    <div class="form-buttons">
        <a class="btn btn-light" href="{% url 'base:index' %}">Annuler</a> &nbsp;
        <input class="btn btn-info" type="submit" value="C'est parti">
    </div>
</form>
{% endblock content %}
