{% include "stocks/menu.html" %} 
{% include "stocks/messages.html" %} 
{% load bootstrap3 %}
{% load render_table from django_tables2 %}

<!doctype html>
<html>
  <head>
    <title>List of persons</title>
  </head>
  <body>
<br>
<br>
<a href="{% url 'stocks:create_product' %}">Créer un nouveau produit</a>
<br>
<br>

<form action="" method="get" class="form form-inline">
  {% bootstrap_form filter.form layout='inline' %}
  {% bootstrap_button 'Filtrer' %}
</form>
<br>
{% render_table table 'django_tables2/bootstrap.html' %}

<br>
<br>

Les stocks sont en kilogramme ou en litre (pour les produits en vrac) ou en unité (pour les produits à l'unité).
  </body>
</html>
