{% extends 'base/base.html' %}
{% load crispy_forms_tags %}
{% load my_tags %}

{% block content %}
<div class="narrow-content">
<form action="" method="post">
    {% csrf_token %}
    {{ form | crispy }}
    <div class="form-buttons">
        <a class="btn btn-light" href="{% url 'base:products' %}">Annuler</a> &nbsp;
        <input class="btn btn-info" type="submit" value="Enregister">
    </div>
</form>

<!-- Stock et valeur du stock -->
<br><br>
<h5>État des stock</h5>
<div>
  <p class="col-form-label">Stock :</p>
  <input class="form-control" type="text" placeholder="{{ pdt.stock | print_quantity:pdt.unit }}" readonly>
  <p class="col-form-label">Valeur du stock :</p>
  <input class="form-control" type="text" placeholder="{{ stock_value | round2 }} €" readonly>
</div>

<!-- Archivage -->
<br><br>
<h5>Archivage</h5>
<form id="archiveForm" action="{% url 'base:archive_product' pdt.pk %}" method="post">
  {% csrf_token %}
  <p>Pour archiver ce produit, cliquez ici : </p>
  <input class="confirm-archive btn btn-outline-danger btn-sm" value="Archiver">
</form>
<br><br>
<script>
 $(document).on("click", ".confirm-archive", function(e) {
     bootbox.confirm({
	 locale: "fr",
	 message: '<p>Voulez-vous archiver ce produit ?</p>\
                      <p>Il ne sera plus affiché dans le logiciel. Cette opération peut être annulée via l\'interface de gestion.</p>',
	 callback: function(result){ if (result) { $("#archiveForm").submit(); } }
 })});
</script>
</div>
{% endblock content %}
