{% extends "base/base.html" %} 

{% block content %}
<div class="row justify-content-center">
  <a class="btn btn-info" href="{% url 'base:create_product' %}">Créer un nouveau produit</a>
</div>

<div id="vue-table">

  <button @click="changeVisible" class="btn btn-info">[[ only_visible ? "Montrer " : "Masquer "]] les non visibles </button>

  <form>
      <input type="text" v-model="search" class="form-control" placeholder="Tapez pour filtrer ...">
  </form>

  <table class="table table-striped">
    <thead>
      <tr>
        <th v-for="column in columns" @click="sortBy(column)" :class="{ active: sortKey == column }">
	  [[ _.capitalize(column) ]]
	  [[ sortKey == column ? (reverse ? "⯅" : "⯆") : ""]]
        </th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr v-for="x in filter()">
        <td v-for="column in columns">
	  [[ x[column] ]]
	</td>
        <td><a :href="'produit/' + x.id">⌬ Détails</a></td>
        <td><a :href="'stats/' + x.id"><!-- 統計 --> 📈 Stats</a></td>
      </tr>
    </tbody>
  </table>  

</div>

<script>
  new Vue({
      delimiters: ['[[', ']]'],
      el: '#vue-table',
      data: {
	  sortKey: 'nom',
	  only_visible: true,
	  search: '',
	  reverse: false,
	  columns: {{ columns | safe }},
	  raw_data: {{ pdts | safe }}
      },

      computed: {
	  orderedData: function () {
	      var data = _.orderBy(this.raw_data, this.sortKey);
	      if (this.reverse) {
		  return _.reverse(data)
	      } else {
		  return data
	      }
	  }
      },

      methods: {
	  changeVisible: function() {
	      this.only_visible = !this.only_visible
	  },

	  sortBy: function(sortKey) {
	      this.reverse = (this.sortKey == sortKey) ? ! this.reverse : false;
	      this.sortKey = sortKey
	  },

	  filter: function () {
	      var search = this.search;
	      var only_visible = this.only_visible;
	      return _.pickBy(this.orderedData, (function (row) {
		  var b = (!only_visible) || (row.visible == "✔");
		  return b && (myContains(row.nom, search) || myContains(row.catégorie, search) || myContains(row.fournisseur, search))
	      }))
	  }
      }
  })
</script>
{% endblock %}
