{% extends "base/base.html" %}
{% load static %}

{% block content %}
<div class="medium-content">
    <h3>Produits</h3>
    <div class="description">
        Cette page sert à :
        <div class="description-list">
            <ul>
            <li>créer un nouveau produit ;</li>
            <li>obtenir des informations sur les produits.</li>
            </ul>
        </div>
        Pour pouvoir créer un nouveau produit, il faut au préalable que le fournisseur, la catégorie du produit et les
        unités aient été créées.
    </div>
</div>

<div class="row justify-content-center">
    <a class="btn btn-info" href="{% url 'base:create_product' %}">Créer un nouveau produit</a>
    <span style="width: 50px"></span>
    <a class="btn btn-info" href="{% url 'base:export_products' %}">Exporter la liste des produits</a>
</div>

{% include "base/partials/products_table.html" with productsList=products columns=columns only %}


<script src="{% static "base/common.js" %}"></script>
<script>
  $(function(){
    var create = document.getElementById('tofile');
    var arrayContent = document.getElementById('produits-table');
     create.addEventListener('click', function ()  {

         let data = `<table border="1">${arrayContent.innerHTML}</table>`;
         downloadHTMLFile(data, "Produits", "Produits.html");

     }, false);
})();

</script>
{% endblock %}
