{% extends 'base/base.html' %}

{% load static %}
{% load my_tags %}

{% block content %}
<h4>{{ pdt }}</h4>
Fournisseur : {{ pdt.provider }}<br>
Stock actuel : {{ pdt.stock | round_stock }} {{ pdt.unit }}<br>
Prix : {{ pdt.price }} € / {{ pdt.unit }}<br>

<canvas id="myChart"></canvas>
<br>
<br>
<button id="removeData">Zoomer</button>
<button id="addData">Dézoomer</button>

<script src="{% static 'base/moment-with-locales.js' %}"></script>
<script src="{% static 'base/Chart.js' %}"></script>

<script>
  moment.locale('fr');
  var ctx = document.getElementById('myChart').getContext('2d');
  var init_date = new Date();
  init_date.setFullYear(init_date.getFullYear() - 1);
  var chart = new Chart(ctx, {
      type: 'line',

      data: {
          datasets: [{
              label: 'Stock de {{ pdt }}',
              backgroundColor: 'rgb(255, 99, 132)',
              borderColor: 'rgb(255, 99, 132)',
	      fill: false,
	      data: [
		  {% for d in data %}
		  { x: new Date('{{d.date}}'), y: {{d.stock}}, label: '{{d.label}}' },
		  {% endfor %}
	      ]
          }]
      },

      options: {
	  title: { text: 'Bla bla' },
	  scales: {
              xAxes: [{
                  type: 'time',
		  time: {min: init_date}
              }],
	      yAxes: [{
		  scaleLabel: {
		      display: true,
		      labelString: 'Stock ({{ pdt.unit }})'
		  }
	      }]
	  },
          tooltips: {
              callbacks: {
                  label: function(tooltipItem, data) {
                      return data.datasets[tooltipItem.datasetIndex].data[tooltipItem.index].label;
                  }
              }
	  },
      }
  });

  document.getElementById('addData').addEventListener('click', function() {
      var date = new Date(chart.options.scales.xAxes[0].time.min);
      date.setMonth(date.getMonth() - 1);
      chart.options.scales.xAxes[0].time.min = date;
      chart.update();
  });

  document.getElementById('removeData').addEventListener('click', function() {
      var date = new Date(chart.options.scales.xAxes[0].time.min);
      date.setMonth(date.getMonth() + 1);
      chart.options.scales.xAxes[0].time.min = date;
      chart.update();
  });
</script>
{% endblock content %}
