{% extends 'base/base.html' %}

{% block content %}
<h2>Statistiques pour : {{ pdt }}</h2>

<br>
{{ data | safe }}

<canvas id="myChart"></canvas>
<br>
<br>
<button id="removeData">Un mois de moins</button>
<button id="addData">Un mois de plus</button>


<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.bundle.js"></script>
<script>
  var ctx = document.getElementById('myChart').getContext('2d');
  var timeFormat = 'MM/DD/YYYY HH:mm';
  var chart = new Chart(ctx, {
      type: 'line',

      data: {
          // labels: ['January', 'February', 'March', 'April', 'May', 'June', 'July'],
          datasets: [{
              label: 'Stock de {{ pdt }}',
              backgroundColor: 'rgb(255, 99, 132)',
              borderColor: 'rgb(255, 99, 132)',
	      fill: false,
	      data: [
		  {% for d in data %}
		  { x: new Date('{{d.date}}'), y: {{d.stock}}, label: '{{d.label}}' },
		  {% endfor %}
	      ]
          }]
      },

      options: {
	  title: { text: 'Bla bla' },
	  scales: {
              xAxes: [{
                  type: 'time',
		  time: {min: '2019-06-13T16:33:48'}
              }],
	      yAxes: [{
		  scaleLabel: {
		      display: true,
		      labelString: 'Stock'
		  }
	      }]
	  },
          tooltips: {
              callbacks: {
                  label: function(tooltipItem, data) {
                      return data.datasets[tooltipItem.datasetIndex].data[tooltipItem.index].label;
                  }
              }
	  },
      }
  });

  document.getElementById('addData').addEventListener('click', function() {
      var date = new Date(chart.options.scales.xAxes[0].time.min);
      date.setMonth(date.getMonth() - 1);
      chart.options.scales.xAxes[0].time.min = date;
      chart.update();
  });

  document.getElementById('removeData').addEventListener('click', function() {
      var date = new Date(chart.options.scales.xAxes[0].time.min);
      date.setMonth(date.getMonth() + 1);
      chart.options.scales.xAxes[0].time.min = date;
      chart.update();
  });
</script>
{% endblock content %}
