{% extends "base/base.html" %}

{% block content %}
<h4>Liste détaillées de la valeur du stock de l'épicerie</h4>

<div id="vue-table">

    <div id="print-total">
        Total de la valeur des stocks de l'épicerie sélectionnés : <b> [[ this.total.toFixed(2) ]] €</b>
    </div>
    <div class="description">Ici, c'est le prix de vente qui est pris en compte. La valeur des achats de l'épicerie peut
        être connue quant à elle dans la section correspondante.
    </div>
    <form class="form-inline">
        <div class="text-right filter">
            <input type="text" v-model="search" class="form-control" size="50"
                   placeholder="Tapez pour filtrer par fournisseur, par produit ou par catégorie...">
        </div>
    </form>

    <table id="table" class="table table-striped">
        <thead>
        <tr>
            <th v-for="column in columns" @click="sortBy(column)" :class="{ active: sortKey == column }">
                [[ _.capitalize(column) ]]
                [[ sortKey == column ? (sortWay === 'asc' ? "⯅" : "⯆") : ""]]
            </th>
        </tr>
        </thead>
        <tbody>
        <tr v-for="x in filter()">
            <td v-for="column in columns">
                [[ x[column] ]]
            </td>
        </tr>
        </tbody>
    </table>

</div>

<script>
  var vue = new Vue({
      delimiters: ['[[', ']]'],
      el: '#vue-table',
      data: {
          sortKey: 'date',
          search: '',
          sortWay: 'asc',
          columns: {{ columns | safe }},
          raw_data: {{ stocks | safe }},
          total: 0,
      },

      computed: {
          orderedData: function () {
             /* extract sort key from row, depending on its type */
             function sortValue(row){
                 let val = row[this.sortKey]
                 if (! Number.isNaN(Number.parseFloat(val))) {
                     return Number.parseFloat(val);
                 } else if (_.isString(val)) {
                     return val.toLowerCase()
                 } else {
                     return val;
                 }

             };
             return _.orderBy(this.raw_data, sortValue.bind(this), this.sortWay);
          }
      },

      methods: {
         sortBy: function(sortKey) {
             if (this.sortKey === sortKey) {
                 this.sortWay = (this.sortWay === 'asc' ? 'desc' : 'asc');
             } else {
                 this.sortKey = sortKey;
             }
         },

         filter: function () {
             var filterKey = this.search.toLowerCase();
             var data = this.orderedData;

             data = data.filter(function (row) {
             return Object.keys(row).some(function (key) {
                 return String(row[key]).toLowerCase().indexOf(filterKey) > -1
             })
             });
             
             this.total = this.total_sum(data);
             
             return data
         },

         total_sum: function(data){
             let sum = 0;
             data.forEach(function(element) {
                 sum += parseInt(element["valeur totale"].replace('€', ''));
             });
             console.log(sum);
            return sum;
         }
      }
  })

  vue.filter();




</script>
{% endblock %}
