{% extends "base/base.html" %}

{% load static %}
{% load my_tags %}

{% block content %}
<h4>Evolution des achats des foyers</h4>

    <div class="description">Sont pris en compte :
        <ul>
            <li>l'approvisionnement des foyers sur leur compte ;</li>
            <li>les achats effectués par l'épicerie (prix de vente ou prix d'achat si l'option est activée).</li>
        </ul>
        Ne sont pas pris en compte :
        <ul>
            <li>les adhésions et autres dons ;</li>
            <li>les autres sources de dépenses (loyer, frais divers, etc.)</li>
        </ul>
    </div>

<div class="medium-content">
<canvas id="myChart1"></canvas>
<button id="removeData1">Zoomer</button>
<button id="addData1">Dézoomer</button>
</div>
</br>

<div class="medium-content">
<canvas id="myChart2"></canvas>
<button id="removeData2">Zoomer</button>
<button id="addData2">Dézoomer</button>
</div>
</br>

<script src="{% static 'base/moment-with-locales.js' %}"></script>
<script src="{% static 'base/Chart.js' %}"></script>

<script>
 moment.locale('fr');
 var style = getComputedStyle(document.body);
 var chartCol1 = style.getPropertyValue('--chartColor1');
 var chartCol2 = style.getPropertyValue('--chartColor2');
 var chartCol3 = style.getPropertyValue('--chartColor3');
 var chartCol4 = style.getPropertyValue('--chartColor4');
 var chartColorText = style.getPropertyValue('--chartColorText');

 Chart.defaults.global.defaultFontSize = 16;
 Chart.defaults.global.defaultFontColor = chartColorText;

 var ctx = document.getElementById('myChart1').getContext('2d');
 var init_date = new Date();
 init_date.setMonth(init_date.getMonth() - 6);
 var end_date = new Date();
 end_date.setMonth(end_date.getMonth() + 1);
 var chart1 = new Chart(ctx, {
     type: 'line',

     data: {
         datasets: [
         {
             yAxisID: 'A',
             label: 'Approvisionnement cumulé des foyers (en €)',
             backgroundColor: chartCol3,
             borderColor: chartCol3,
         fill: false,
         lineTension: 0,
         data: [
         {% for d in comptes_stats %}
         { x: new Date('{{d.date}}'), y: {{d.value}}, label: '{{d.label}}' },
         {% endfor %}
         ]
         },
         {
             yAxisID: 'A',
             label: "Approvisionnement cumulé de l'epicerie (en €)",
             backgroundColor: chartCol2,
             borderColor: chartCol2,
         fill: false,
         lineTension: 0,
         data: [
         {% for d in appros_stats %}
         { x: new Date('{{d.date}}'), y: {{d.value}}, label: '{{d.label}}' },
         {% endfor %}
         ]
         },
         {
             yAxisID: 'A',
             label: 'Achat cumulé des foyers (en €)',
             backgroundColor: chartCol1,
             borderColor: chartCol1,
         fill: false,
         lineTension: 0,
         data: [
         {% for d in purchases_stats %}
         { x: new Date('{{d.date}}'), y: {{d.value}}, label: '{{d.label}}' },
         {% endfor %}
         ]
         },
         ],
     },

     options: {
     title: { text: 'Analyse des entrées/sorties et des achats' },
     scales: {
             xAxes: [{
                 type: 'time',
         time: {min: init_date, max: end_date}
             }],
         yAxes: [{
          id: 'A',
          type: 'linear',
          position: 'left',
         scaleLabel: {
             display: true,
             labelString: 'Valeur en €'
         },
         ticks: {
            suggestedMin: 0
         }
         },
         ]
     },
         tooltips: {
             callbacks: {
                 label: function(tooltipItem, data) {
             var o = data.datasets[tooltipItem.datasetIndex].data[tooltipItem.index];
                     return o.label + ". Nombre: " + o.y;
                 }
             }
     },
     }
 });

 document.getElementById('addData1').addEventListener('click', function() {
     var date = new Date(chart1.options.scales.xAxes[0].time.min);
     date.setMonth(date.getMonth() - 1);
     chart1.options.scales.xAxes[0].time.min = date;
     chart1.update();
 });

 document.getElementById('removeData1').addEventListener('click', function() {
     var date = new Date(chart1.options.scales.xAxes[0].time.min);
     date.setMonth(date.getMonth() + 1);
     chart1.options.scales.xAxes[0].time.min = date;
     chart1.update();
 });
</script>



<script>
 moment.locale('fr');
 var style = getComputedStyle(document.body);
 var chartCol1 = style.getPropertyValue('--chartColor1');
 var chartCol2 = style.getPropertyValue('--chartColor2');
 var chartCol3 = style.getPropertyValue('--chartColor3');
 var chartCol4 = style.getPropertyValue('--chartColor4');
 var chartColorText = style.getPropertyValue('--chartColorText');

 Chart.defaults.global.defaultFontSize = 16;
 Chart.defaults.global.defaultFontColor = chartColorText;

 var ctx = document.getElementById('myChart2').getContext('2d');
 var init_date = new Date();
 init_date.setMonth(init_date.getMonth() - 6);
 var end_date = new Date();
 end_date.setMonth(end_date.getMonth() + 1);
 var chart2 = new Chart(ctx, {
     type: 'line',

     data: {
         datasets: [
         {
             yAxisID: 'A',
             label: 'Différence des approvisionnements (en €)',
             backgroundColor: chartCol4,
             borderColor: chartCol4,
         fill: false,
         lineTension: 0,
         data: [
         {% for d in diff_stats %}
         { x: new Date('{{d.date}}'), y: {{d.value}}, label: '{{d.label}}' },
         {% endfor %}
         ]
         },
         ],
     },

     options: {
     title: { text: 'Analyse des entrées/sorties et des achats' },
     scales: {
             xAxes: [{
                 type: 'time',
         time: {min: init_date, max: end_date}
             }],
         yAxes: [{
          id: 'A',
          type: 'linear',
          position: 'left',
         scaleLabel: {
             display: true,
             labelString: 'Valeur en €'
         },
         ticks: {
            suggestedMin: 0
         }
         },
         ]
     },
         tooltips: {
             callbacks: {
                 label: function(tooltipItem, data) {
             var o = data.datasets[tooltipItem.datasetIndex].data[tooltipItem.index];
                     return o.label + ". Nombre: " + o.y;
                 }
             }
     },
     }
 });

 document.getElementById('addData2').addEventListener('click', function() {
     var date = new Date(chart2.options.scales.xAxes[0].time.min);
     date.setMonth(date.getMonth() - 1);
     chart2.options.scales.xAxes[0].time.min = date;
     chart2.update();
 });

 document.getElementById('removeData2').addEventListener('click', function() {
     var date = new Date(chart2.options.scales.xAxes[0].time.min);
     date.setMonth(date.getMonth() + 1);
     chart2.options.scales.xAxes[0].time.min = date;
     chart2.update();
 });
</script>
{% endblock %}
